<h2> User Dashboard</h2>
<div class="grid grid-pad">
  <a  class="col-1-4" [routerLink]="['/details']" routerLinkActive="router-link-active" >
    <div class="module hero">
      <h4>User 1</h4>
    </div>
  </a>
  <a class="col-1-4" [routerLink]="['/details']" routerLinkActive="router-link-active">
    <div class="module hero">
      <h4>User 2</h4>
    </div>
  </a>
  <a class="col-1-4" [routerLink]="['/details']" routerLinkActive="router-link-active">
    <div class="module hero">
      <h4>User 3</h4>
    </div>
  </a>
</div>
